.card{
    max-width: 500px;
height: max-content;
margin: 25px auto;
border: 1px solid rgb(173, 173, 173);
border-radius: 5px;
}


.card-header{
    display:flex;
}

.card-header > h5{
    margin-left: 0;
    padding: 11px;
    margin-top: 5px;
}

.card-pic img{
    width:50px;
    border-radius: 30px;
    height: auto;
    object-fit: contain;
    padding: 5px;
}
.card-image img{
    width: 100%;
}

.card-content{
    text-align:left;
    line-height: 4px;
    padding:3px 10px;
    border-bottom: 1px solid rgb(173, 173, 173);

}

.add-comment{
    display: flex;
    align-items:center;
}
.add-comment input{
    margin:0;
    outline:none;
    border:none;
    padding:10px;
}
.comment{
    border:none;
    background-color: none;
    font-weight: bolder;
    cursor:pointer;
    color:#367e94;
}