.signIn{
    background-image: url("https://t4.ftcdn.net/jpg/01/24/66/07/240_F_124660767_6LB5dND4eiAioydDyP29waEG2nhqIdSE.jpg");
    background-size: cover;
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.LoginForm{
    background-color:#eddada82;
    padding: 30px;
    border: 1px solid rgb(188, 185, 165);
    border-radius: 1px;
}

.loginForm2{

    background-color: #fff;
    padding: 20px;
    margin-top: 5px;
    border: 1px solid rgb(188, 185, 165);
    border-radius: 1px;

}
#login-btn{

    background-color: #345c91;
    border: none;
    border-radius: 3px;
    color:white;
    font-weight: bold;
    padding: 5px 10px;
  
    cursor: pointer;
    margin-top: 8px;

}